<!--<ngx-spinner-->
<!--  bdColor = "rgba(0, 0, 0, 0.8)"-->
<!--  size = "medium"-->
<!--  color = "#fff"-->
<!--  type = "square-jelly-box"-->
<!--&gt;-->
<!--  <p style="font-size: 20px; color: white">Chờ tí...</p>-->
<!--</ngx-spinner>-->

<!--<div class="container mx-auto flex flex-col h-screen">-->
<!--  <header>-->
<!--    <app-header *ngIf="!isAdmin"></app-header>-->
<!--    <app-admin-header *ngIf="isAdmin"></app-admin-header>-->
<!--  </header>-->
<!--  <main class="mb-auto">-->
<!--    <router-outlet />-->
<!--  </main>-->
<!--  <footer *ngIf="!isAdmin">-->
<!--    <app-footer></app-footer>-->
<!--  </footer>-->
<!--</div>-->

<app-user *ngIf="!isAdmin"></app-user>
<app-admin *ngIf="isAdmin"></app-admin>
