<!--<ngx-spinner-->
<!--  bdColor = "rgba(0, 0, 0, 0.8)"-->
<!--  size = "medium"-->
<!--  color = "#fff"-->
<!--  type = "square-jelly-box"-->
<!--&gt;-->
<!--  <p style="font-size: 20px; color: white">Chờ tí...</p>-->
<!--</ngx-spinner>-->

<!--<div class="container mx-auto flex flex-col h-screen">-->
<!--  <header>-->
<!--    <app-header *ngIf="!isAdmin"></app-header>-->
<!--    <app-admin-header *ngIf="isAdmin"></app-admin-header>-->
<!--  </header>-->
<!--  <main class="mb-auto">-->
<!--    <router-outlet />-->
<!--  </main>-->
<!--  <footer *ngIf="!isAdmin">-->
<!--    <app-footer></app-footer>-->
<!--  </footer>-->
<!--</div>-->

<!--<ng-container *ngIf="!isAdmin">-->
<!--  <app-user></app-user>-->
<!--</ng-container>-->

<!--<ng-container *ngIf="isAdmin">-->
<!--  <app-admin></app-admin>-->
<!--</ng-container>-->

<!--<header>-->
<!--  <nav>-->
<!--    <span>Welcome {{ username }}</span>-->
<!--    <ng-container *ngIf="isAdmin">-->
<!--      <a routerLink="/admin/dashboard">Admin Dashboard</a>-->
<!--      <a routerLink="/admin/users">Manage Users</a>-->
<!--    </ng-container>-->
<!--    <ng-container *ngIf="!isAdmin">-->
<!--      <a routerLink="/user/profile">My Profile</a>-->
<!--      <a routerLink="/user/orders">My Orders</a>-->
<!--    </ng-container>-->
<!--    <button (click)="logout()">Logout</button>-->
<!--  </nav>-->
<!--</header>-->

<div *ngIf="!isAdmin">
  <div class="container mx-auto flex flex-col h-screen">
    <header>
      <app-header></app-header>
    </header>
    <div class="mb-auto">
      <router-outlet />
    </div>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</div>

<div *ngIf="isAdmin" class="flex">
  <div class="w-1/6">
    <app-admin-sidebar></app-admin-sidebar>
  </div>
  <div class="w-5/6 flex flex-col">
    <div class="p-4">
      <app-admin-header></app-admin-header>
    </div>
    <main>
      <router-outlet/>
    </main>
  </div>
</div>
