<div class="bg-white shadow-lg min-w-[240px] py-6 px-4 font-[sans-serif] overflow-auto">
  <div class="text-white hover:text-blue-600 text-[15px] block hover:bg-blue-50 rounded px-4 py-2.5 transition-all" id="c1">
    <h1>Danh mục</h1>
  </div>

  <div class="mt-4">
    <ul class="mt-2">
      <li *ngFor="let category of categories">
        <a [routerLink]="['/',category.slug]"
           class="text-black hover:text-blue-600 text-[15px] block hover:bg-blue-50 rounded px-4 py-2.5 transition-all">
          {{category.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
